SEND_MNEMONIC=protect lamp cargo gorilla theory crouch warfare motion climb scene pledge club measure movie alert bronze coast smile furnace host health design wonder lawsuit
URL=http://lcd.orai.io
DENOM=orai
REACT_APP_LCD=https://lcd.orai.io