#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 60px;
}

.inner {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 40px);
  text-align: center;
  padding: 20px;
}

.inner h1 {
  margin: 0;
}

.inner h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 20px 0;
}

#session-page-title {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

.keystation-form {
  position: relative;
  margin-bottom: 20px;
}

.keystation-form .input {
  display: block;
  max-width: none;
  padding: 0;
  margin: 8px 0;
  width: 100%;
}
.button {
  color: rgb(255 255 255);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 1px solid rgb(144 202 249 / 50%);
  color: rgb(144 202 249);
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  width: 20%;
}

.keystation-form .input__field {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
}

.keystation-form input,
.keystation-form textarea {
  width: 100%;
  background: rgb(66 66 66);
  /* border-radius: 6px; */
}

.keystation-form input {
  height: 50px;
}

.keystation-form textarea {
  height: 120px;
  line-height: 1.6;
  border: 1px solid #999;
  color: #fff;
}

/* .keystation-form input:focus{
  background-color: #fff;
  border-color: #9c6cff;
} */

.keystation-form input:valid {
  background-color: inherit;
}

.keystation-form .icon--fumi {
  padding-top: 1.26em;
}

.keystation-form .input__label-content--fumi {
  font-size: 14px;
  font-weight: 400;
  padding: 1.12em 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header h1 {
  margin-bottom: 0;
}
.footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 2px 4px 0px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  bottom: 0;
  left: 0;
  background-color: rgb(51 51 51);
  padding: 0 10px;
  color: rgb(255 255 255);
}

.footer button {
  margin: 5px;
  font-size: 20px;
}

.select {
  width: 50%;
  text-align: left;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
